

<!DOCTYPE html>
<html ng-app="NewsViewModule">

<head>
    <meta charset="utf-8">
    <title>PN | AUH</title>
    <meta name="description" content="PN AUH"/>
    <meta itemprop="name" content="PN AUH"/>
    <meta itemprop="description" content="PN AUH"/>
    <meta itemprop="url" content="PN AUH"/>
    <link rel="canonical" href="#"/>
    <!-- Open Graph data -->
    <meta property="og:title" content="PN AUH"/>
    <meta property="og:type" content="PN AUH" />
    <meta property="og:url" content="PN AUH"/>
    <meta property="og:image" content="PN AUH"/>
    <meta property="og:site_name" content="PN AUH"/>
    <meta property="og:description" content="PN AUH"/>



    <!-- Standard Favicon -->
    <link rel="icon" type="image/x-icon" href="zzimage/radio.JPG" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <!-- For iPhone 4 Retina display: -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="zzimage/radio.JPG">
    <!-- For iPad: -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="zzimage/pmlogo.JPG">
    <!-- For iPhone: -->
    <link rel="apple-touch-icon-precomposed" href="zzimage/pmlogo.JPG">
    <!-- Stylesheets -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/revolution-slider.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!-- Responsive -->
    
    
    <link href="css/responsive.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/flip.css">

    <script data-ad-client="ca-pub-6232423160568230" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

</head>
<body ng-controller="NewsController">
    <div class="page-wrapper">

        <!-- Preloader -->

        <nav class="social">
            <ul>
                <li><a href="./facebook/facebook.html" target="_blank"><i class="fa fa-facebook-f"></i>Facebook</a></li>
                <li><a href="./twitter/twitter.html" target="_blank"><i class="fa fa-twitter"></i>Twitter</a></li>
                <li><a href="#" target="_blank"><i class="fa fa-youtube"></i>Youtube</a></li>
                <li><a href="./instagram/instagram.html" target="_blank"><i class="fa fa-instagram"></i>Instagram</a></li>
                <li><a href="https://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i>Linkedin</a></li>
                <li><a href="contact.html" target="_blank"><i class="fa fa-map-marker"></i>Location</a></li>
                <li><a href="mailto:8102973@gmail.com" target="_blank" title="www.premmanju.com"><i class="fa fa-envelope-o"></i>Email Us</a></li>
            </ul>
        </nav>

<!-- Main Header -->
 <header class="main-header">
            <!-- Header Upper -->
             <div class="container">
                <div class="row row-eq-height">
                    <div class="col-lg-4 col-md-4 text-center logo">
                        <a href="https://premmanju.com/" class="Main_Root_Url">
                            <img class="img-responsive" src="zzimage/profile5.JPG" alt="PN AUH"></a>
                    </div>
                    <div class="col-lg-8 col-md-8">
                        <div class="top-contact-details">
                            <div class="row mt-15">
                                <div class="col-md-7 col-sm-7 col-xs-12" style="padding: 0px;">
                                    <div class="col-md-7 col-sm-7 col-xs-6 border-r">
                                        <div class="clearfix text-right">
                                            <img src="zzimage/pmlogo.JPG" style="width: 180px; margin-top: 4px; margin-bottom: 3px;">
                                        </div>
                                    </div>

                                    <div class="col-md-5 col-sm-5 col-xs-6 border-r">
                                        <div class="clearfix">
                                            <a href="tel:+971 563329731">
                                                <img class="img-responsive pull-left t-contact-img" src="images/resource/call.png" alt="Call Us Now">
                                                <div class="t-contact-info ubuntu pull-left">
                                                    <span class="fz-14 gray-999">Call Me </span>
                                                    <span class="fz-13"></span>
                                                    
                                                </div>
                                    
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5 col-sm-5 col-xs-6 border-r">
                                    <div class="row mt-15">
                                    <a href="https://api.whatsapp.com/send?phone=971563329731&text=What%20Can%20I%20do%20for%20U?" target="_blank"> <img style="display: inline-block;" class="face" src="zzimage/whatsappn.png"></a>
                                </div>
                                </div>
                                <div class="col-md-5 col-sm-5 col-xs-12">
                                    <div class="clearfix" style="padding-top: 10px;">
                                        <script>
                                            (function () {
                                                var cx = '015378931779927928287:eoicpk2lo4i';
                                                var gcse = document.createElement('script');
                                                gcse.type = 'text/javascript';
                                                gcse.async = true;
                                                gcse.src = '../cse.google.com/cse07b6.html?cx=' + cx;
                                                var s = document.getElementsByTagName('script')[0];
                                                s.parentNode.insertBefore(gcse, s);
                                            })();
                                        </script>
                                        <gcse:search></gcse:search>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Header Top End -->


            
            <div class="main-nav mt-20 clearfix">
                <div class="container">
                    <div class="col-lg-offset-3 col-lg-9 col-md-offset-3 col-md-9 no-padding">
                        <nav class="navbar">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            <div id="navbar" class="navbar-collapse collapse no-margin no-padding Main_LinkCtr">
                                <ul class="nav navbar-nav">
                                     <li class="dropdown"><a href="#">About</a>
                                        <ul>
                                            <li><a href="#">PN</a></li>
                                            <li class="dropdown"><a href="#">Branches</a>
                                                <ul>
                                                    <li><a href="./ourservices.html" target="_blank">our services</a></li>
                                                    <li><a href="#">PN</a></li>
                                                </ul>
                                            </li>
                                            <!--<li><a href="pn.aspx">PN</a></li>-->
                                            <li><a href="#">PM</a> </li>
                                            <li><a href="#">Mission & Vision</a> </li>
                                            <li><a href="#">Testimonials</a> </li>
                                            <li><a href="radio.html" target="_blank">Radio</a> </li>
                                        </ul>
                                    </li>
                                    <li class="dropdown"><a href="#" name="DepartmentsFacilities">Sign in & Sign up</a>
                                        <ul>
                                            <li class="dropdown"><a href="./signin/signin.html" target="_blank" name="Departments">Sign in</a>
                                                <ul>
                                                    <li ng-repeat="item in Serviceslink"><a rel="nofollow"  href="./signin/signin.html" target="_blank">{{sign in}}</a></li> 
                                                </ul>
                                            </li>
                                            <li><a href="./signup/signup.html" target="_blank" name="Facilities">Sign Up</a></li>
                                            <li><a href="https://www.google.com/search?q=my+ip+address&rlz=1C1CHBD_enAE723AE723&oq=my+ip+a&aqs=chrome.0.0j69i57j0l6.7890j1j7&sourceid=chrome&ie=UTF-8" target="_blank" name="InsurancePartners">Your IP</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="https://meet.google.com/mfo-jbwo-hok?authuser=0" target="_blank" name="Video Call">Video Call</a></li>
                                    <li><a href="./video.html" target="_blank" name="Packages">Video</a></li>
                                    <li><a href="https://premmanju.godaddysites.com/" target="_blank" name="HealthBlog">Shop Now</a></li>
                                    <li><a href="https://www.manoramaonline.com/home.html" target="_blank"  name="News">News</a></li>
                                    <li class="dropdown">
                                        <a href="#" name="Career">Career</a>
                                        <ul>     
                                            <!--<li><a href="CurrentOpenings.aspx" name="Openings">Current Openings</a></li>-->
                                            <li><a href="https://www.linkedin.com/" target="_blank" name="JoinUs">Join </a></li>                                                   
                                        </ul>
                                    </li>
                                    <li><a href="contact.html" target="_blank" name="Contact">Contact</a></li>
                                </ul>
                            </div>
                            <!--/.nav-collapse -->
                        </nav>
                    </div>
                </div>
            </div>
            <div class="header-upper">
                <div class="auto-container clearfix">
                    <!-- Logo -->
                    <div class="logo">
                        <a href="https://premmanju.com/" class="Main_Root_Url"> <img src="zzimage/icon.png"  alt="#"></a>
                    </div>
                    <!--Nav Outer-->
                    <div class="nav-outer clearfix">
                        
                         <nav class="main-menu">
                            <div class="navbar-collapse collapse clearfix Main_LinkCtr">
                                <ul class="navigation">
                                     <li class="dropdown"><a href="#">About </a>
                                        <ul>
                                            <li><a href="#">PN AUH</a></li>
                                            <li class="dropdown"><a href="#">Branches</a>
                                                <ul>
                                                    <li><a href="./ourservices.html" target="_blank">our services</a></li>
                                                    <li><a href="#">PN AUH</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="#"> Message</a> </li>
                                            <li><a href="#">Mission & Vision</a> </li>
                                            <li><a href="#">Testimonials</a> </li>
                                            <li><a href="radio.html" target="_blank">Radio</a> </li>
                                        </ul>
                                    </li>
                                    <li class="dropdown"><a href="#" name="DepartmentsFacilities">Sign in & Sign up</a>
                                        <ul>
                                            <li class="dropdown"><a href="./signin/signin.html" target="_blank" name="Departments">Sign in</a>
                                                <ul>
                                                    <li ng-repeat="item in Serviceslink"><a rel="nofollow"  href="./signin/signin.html" target="_blank">{{Sign in}}</a></li> 
                                                </ul>
                                            </li>
                                            <li><a href="./signup/signup.html" target="_blank" name="Facilities">Sign up</a></li>
                                            <li><a href="https://www.google.com/search?q=my+ip+address&rlz=1C1CHBD_enAE723AE723&oq=my+ip+a&aqs=chrome.0.0j69i57j0l6.7890j1j7&sourceid=chrome&ie=UTF-8" target="_blank" name="InsurancePartners">Your IP</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="https://meet.google.com/mfo-jbwo-hok?authuser=0" target="_blank" name="Doctors">Video Call</a></li>
                                    <li><a href="./video.html" target="_blank" name="Packages">Video</a></li>
                                    <li><a href="https://premmanju.godaddysites.com/" name="HealthBlog">Shoap Now</a></li>
                                    <li><a href="https://www.manoramaonline.com/home.html" target="_blank"  name="News">News</a></li>
                                    <li class="dropdown">
                                        <a href="#" name="Career">Career</a>
                                        <ul>     
                                            <li><a href="https://www.linkedin.com/" target="_blank" name="JoinUs">Join</a></li>                                                   
                                        </ul>
                                    </li>
                                    <li><a href="contact.html" target="_blank" name="Contact">Contact</a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <!--End Main Header -->
<!--End Main Header -->

   
        <!--Main Slider-->
        <section class="page-title" style="background-image: url(zzimage/profile5.JPG);">
            <div class="auto-container">
                <div class="sec-title">
                    <h1 class="language" lang="en">PREM MANJU</h1>
                    <div class="bread-crumb language" lang="en"><a href="https://premmanju.com/" class="current" target="_blank">Home</a> <a href="#" class="current"></a></div>
                    <h2 class="language" lang="ar">  </h2>
                    <div class="bread-crumb language" lang="ar"><a href="#" class="Main_Root_Url"></a>  <a href="#" class="current"> </a></div>
                </div>
            </div>
        </section>

        <!--Main Features-->
        <!--Blog News Section-->
        
        <section class="blog-news-section latest-news">
            <div class="auto-container">
                <div class="row clearfix">
                    <div class="column default-featured-column style-two margin-bott-50 padd-bott-50" style="border-bottom:1px solid #ddd;" ng-repeat="opt in NewsEventDetails" >
                        <article class="inner-box">
                            <div class="row clearfix">
                                <div class="col-md-5 col-sm-5 col-xs-12">

                                    <iframe src="https://test.pravasibharathi.com/v2.4.1/" title="my own website"></iframe>


                                  
                                       </div>                                    
                                <div class="col-md-7 col-sm-7 col-xs-12">
                                    <div class="content-box">
                                        <h3><a href="#"></a></h3>
                                        <div class="column-info"></div>
                                        <div class="text"></div>
                                        <div class="language" lang="en"><a rel="nofollow" href="#" class="theme-btn btn-style-three"></a></div>
                                        <div class="language" lang="ar"><a rel="nofollow" href="#" class="theme-btn btn-style-three"></a></div>
                                    
                                       
                                    </div>
                                </div>

                              
                             </div>

                             
                        </article>
                    </div>
                

                </div>
            </div>
        </section>

        
            </div>

    </div>
    <form method="post" action="" id="ctl00">
<div class="aspNetHidden">
</div>





                            

                                


    

</form>
    <!--Main Footer-->
    <section class="subscribe-intro">
    <div class="auto-container">
        <div class="row clearfix">
            <!--Column-->
            <div class="column col-md-6 col-sm-12 col-xs-12">
                <h2 style="margin-bottom: 0px;" class="language" lang="en"></h2>
                <span style="font-size: 15px; line-height: 20px; display: block;" class="language" lang="en"><br />
                   </span>

                <h2 style="margin-bottom: 0px;" class="language" lang="ar"><marquee>PREM MANJU</marquee></h2>
                <span style="font-size: 15px; line-height: 20px; display: block;" class="language" lang="ar">
                    <br />
                   
                </span>
            </div>
            <!--Column-->
            <div class="column col-md-6 col-sm-12 col-xs-12">
                <div class="SubscribeCtr">
                    <div>
                        <input type="text" class="Main_LanguageCTR" placeholder="Please enter your email id..." id="txtEmail" />
                    </div>
                    <div class="text-right padd-top-20">
                        <a href="#" class="theme-btn btn-style-one" onclick="Subscribe()"  name="SubscribeBTN">Subscribe</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Main Footer-->
<footer class="main-footer" style="background-image: url(zzimages/25887.jpg);">

    <!--Footer Upper-->
    <div class="footer-upper">
        <div class="auto-container">
            <div class="row clearfix">

                <!--Two 4th column-->
                <div class="col-md-3 col-sm-12 col-xs-12 column">
                    <div class="row clearfix">
                        <div class="footer-widget news-widget">
                            <h2>Contact Details</h2>
                            <div>
                                <ul class="contact-info">
                                    <li>
                                        <span class="icon fa fa-map-marker"></span>
                                        P.O.Box: 5731<br>
                                        Abu Dhabi<br>
                                        U.A.E<br>
                                        
                                    </li>
                                    <li>
                                        <span class="icon fa fa-phone"></span>
                                       
                                        <a href="tel:+971-56-3329731"><b> Call Me</b></a><br>
                                    </li>
                                    <li>

                                        <span class="icon fa fa-whatsapp"></span>
                                        <a href="https://api.whatsapp.com/send?phone=971563329731&text=What%20Can%20I%20do%20for%20U?" target="_blank">
                                            <b>Whatsapp</b>
                                          </a><br>
                                    </li>
                                    <li><span class="icon fa fa-envelope-o"></span><a href="MAILTO:8102973@gmail.com" target="_blank"><b>Email</b></a> </li>
                                </ul>
                            </div>


                        </div>
                    </div>
                </div>
                <!--Two 4th column End-->

                <!--Two 4th column-->
                <div class="col-md-9 col-sm-12 col-xs-12 column">
                    <div class="row clearfix">
                        <!--Footer Column-->
                        <div class="footer-widget links-widget">
                            <h2>Quick Links</h2>
                            <ul class="col-md-3 col-sm-12 col-xs-12 column" style="margin-bottom: 20px;">
                                <li><a href="#" class="Main_Root_Url">Home</a></li>
                                <li><a href="contact.html" target="_blank" >About</a></li>
                                <li><a href="https://wss.kseb.in/selfservices/wssloginUser.do" target="_blank">KSEB </a></li>
                                <li><a href="http://tax.lsgkerala.gov.in/epayment/index.php" target="_blank">PANCHYATH TAX</a></li>
                                <li><a href="http://www.revenue.kerala.gov.in/" target="_blank">Village Tax</a></li>
                                <li><a href="https://indane.co.in/" target="_blank">Indane LPG</a></li>
                            </ul>
                            <ul class="col-md-3 col-sm-12 col-xs-12 column" style="margin-bottom: 20px;">
                                <li><a href="https://www.fednetbank.com/" target="_blank">FEDERAL BANK</a></li>
                                <li><a href="https://www.onlinesbi.com/" target="_blank">SBI</a></li>
                                <li><a href="https://www.hdfcbank.com/assets/popuppages/netbanking.htm" target="_blank">HDFC</a></li>
                                <li><a href="https://www.sc.com/ae/ways-to-bank/online-banking/" target="_blank">SC</a></li>
                                <li><a href="https://online.dib.ae/WebApplication.UI/Default.aspx" target="_blank">DIB</a></li>
                                <li><a href="https://online.adcb.com/ADCBIB/kdw#_frmLogin" target="_blank">ADCB</a></li>
                            </ul>
                            <ul class="col-md-3 col-sm-12 col-xs-12 column" style="margin-bottom: 20px;">
                                <li><a href="https://portal.pravasi.ksfe.com/" target="_blank">KSFE</a></li>
                                <li><a href="https://norkaroots.org/" target="_blank">NORKA</a></li>
                                <li><a href="http://pravasiwelfarefund.org/index.php" target="_blank">Pravasi Welfare</a></li>
                                <li><a href="http://www.civilsupplieskerala.gov.in/" target="_blank">Ration Card</a></li>
                                <li><a href="https://ebiz.licindia.in/D2CPM/#Login" target="_blank">LIC</a></li>
                                <li><a href="https://digilocker.gov.in/" target="_blank">Digi Locker</a></li>

                            </ul>
                            <ul class="col-md-3 col-sm-12 col-xs-12 column" style="margin-bottom: 20px;">
                                <li><a href="https://www.moi.gov.ae/en/default.aspx" target="_blank">MOI</a></li>
                                <li><a href="https://emiratespost.ae/Portal/Home?locale=en-us" target="_blank">Emirates Posts</a></li>
                                <li><a href="https://myeform.emiratesid.ae/en/Account/Login?ReturnUrl=%2Fen%2Fhome" target="_blank">Emirates ID</a></li>
                                <li><a href="https://www.google.ae/search?rlz=1C1CHBD_enAE723AE723&ei=kAEpW8alGsHkUq2zutgN&q=1+aed+to+inr&oq=exchange+rates&gs_l=psy-ab.1.5.0i71k1l8.0.0.0.2612.0.0.0.0.0.0.0.0..0.0....0...1..64.psy-ab..0.0.0....0.T_9PfOy1pGA" target="_blank">Exchange Rate</a></li>
                                <li><a href="https://www.etihadguest.com/?_linkNav=Etihad_Guest_Home" target="_blank">Etihadguest </a></li>
                                <li><a href="https://www.volunteers.ae/index.aspx" target="_blank">Volunteers</a></li>
                            </ul>

                        </div>
                    </div>
                </div>
                <!--Two 4th column End-->

            </div>

        </div>
    </div>

    <!--Footer Bottom-->
    <div class="footer-bottom">
        <div class="auto-container clearfix">
            <!--Copyright-->
            <div class="copyright text-left pull-left">
                &copy;  | Designed and developed By 
                    <a style="margin: 0px 10px 0px 0px;" target="_blank" rel="nofollow"  href="#">PREM</a>| Abu Dhabi
                    <a style="margin: 0px 10px;" href="#"></a>| UAE
                    <a style="margin: 0px 10px;" href="#"></a>| 
            </div>
            <div class="social-links-two clearfix  pull-right">
                <a href="./facebook/facebook.html" target="_blank" class="facebook img-circle"><span class="fa fa-facebook-f"></span></a>
                <a href="./twitter/twitter.html" target="_blank" class="twitter img-circle"><span class="fa fa-twitter"></span></a>
                <a href="#" target="_blank" class="linkedin img-circle"><span class="fa fa-youtube"></span></a>
                <a href="./instagram/instagram.html" target="_blank" class="twitter img-circle"><span class="fa fa-instagram"></span></a>
                <a href="https://www.linkedin.com/" target="_blank" class="linkedin img-circle"><span class="fa fa-linkedin"></span></a>
                <a href="contact.html" target="_blank" class="linkedin img-circle"><span class="fa fa-map-marker"></span></a>
            </div>
        </div>
    </div>

</footer>
<script src="js/jquery.js"></script>
<script src="js/sweetalert.min.js"></script>
<link href="css/sweetalert.css" rel="stylesheet" />
<script type="text/javascript">
    function Subscribe() { 
        if ($('#txtEmail').val() != '') {
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "index.aspx/SubscribeNews",
                data: "{'Email':'" + $('#txtEmail').val() + "'}",
                dataType: "json",
                async: false,
                html: true,
                success: function (data) {
                    $('#txtEmail').val('')
                    swal({
                        title: "Success",
                        text: "Thanks for subscribing",
                        timer: 3000,
                        showConfirmButton: false,
                        type: "success",
                    });
                }
            });
        }
        else
            swal("Error!", "Plese enter email", "warning")

    } 
</script>
<script src="../cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.2/js/bootstrap-select.min.js"></script>

    <script src="js/angular.min.js"></script>
    <script src="js/angular-filter.js"></script> 
    <script src="js/angular-sanitize.js"></script>
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/revolution.min.js"></script>
    <script src="js/jquery.fancybox.pack.js"></script>
    <script src="js/jquery.fancybox-media.js"></script>
    <script src="js/owl.js"></script>
    <script src="js/wow.js"></script>
    <script src="js/script.js"></script>
    <script src="js/PageControllers/NewsView.js"></script>





    <script language="JavaScript">
        /**
          * Disable right-click of mouse, F12 key, and save key combinations on page
          * By PN AUH
          * For full source code, visit PN
          */
        window.onload = function() {
          document.addEventListener("contextmenu", function(e){
            e.preventDefault();
          }, false);
          document.addEventListener("keydown", function(e) {
          //document.onkeydown = function(e) {
            // "I" key
            if (e.ctrlKey && e.shiftKey && e.keyCode == 73) {
              disabledEvent(e);
            }
            // "J" key
            if (e.ctrlKey && e.shiftKey && e.keyCode == 74) {
              disabledEvent(e);
            }
            // "S" key + macOS
            if (e.keyCode == 83 && (navigator.platform.match("Mac") ? e.metaKey : e.ctrlKey)) {
              disabledEvent(e);
            }
            // "U" key
            if (e.ctrlKey && e.keyCode == 85) {
              disabledEvent(e);
            }
            // "F12" key
            if (event.keyCode == 123) {
              disabledEvent(e);
            }
          }, false);
          function disabledEvent(e){
            if (e.stopPropagation){
              e.stopPropagation();
            } else if (window.event){
              window.event.cancelBubble = true;
            }
            e.preventDefault();
            return false;
          }
        };
      </script>









</body>



</html>
